
@{
    ViewData["Title"] = "Blog";
}
<head>
    <link rel="stylesheet" href="~/vendorblog/bootstrap.min.css">
</head>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="c-contentHeader_headlineContainer">
                    <h1 id="" class="c-contentHeader_headline u-speakableText">
                        What I Learned Playing Sony's PS5 Pro
                    </h1> <!----> <!---->
                </div>
                <p class="u-speakableText-dek c-contentHeader_description g-outer-spacing-top-small">
                    Exclusive: I checked out the new console upgrade, coming Nov. 5 for $700, and played a bunch of games. Here's who might appreciate the new graphics boosts the most.
                </p>
                <div class="c-pageArticleHero sm:u-col-2 md:u-col-6 lg:u-col-8 lg:u-col-start-3"><div><div class="c-ShortcodeContent c-ShortcodeContent-theme:default"><figure class="c-shortcodeImage u-clearfix c-shortcodeImage-hasCaption c-shortcodeImage-hero"><div class="c-shortcodeImage_imageContainer"><!----> <div class="c-cmsImage c-shortcodeImage_image"><picture class="c-cmsImage_image c-cmsImage-loaded"><source media="(max-width: 767px)" srcset="https://www.cnet.com/a/img/resize/b9d78df3475f6e407c86aa21f7c3e488818aef05/hub/2024/09/05/8ab7b863-afe1-4daf-97a1-5754bbff1c2c/sony-playstation-5-pro-console-2609.jpg?auto=webp&amp;fit=crop&amp;height=236&amp;width=420" alt="Sony PlayStation 5 Pro gaming console"><source media="(max-width: 1023px)" srcset="https://www.cnet.com/a/img/resize/97e808e678922cff9e7c1640b12d3b0dd4f3d445/hub/2024/09/05/8ab7b863-afe1-4daf-97a1-5754bbff1c2c/sony-playstation-5-pro-console-2609.jpg?auto=webp&amp;fit=crop&amp;height=362&amp;width=644" alt="Sony PlayStation 5 Pro gaming console"><source media="(max-width: 1440px)" srcset="https://www.cnet.com/a/img/resize/0815cdc6d7458c79553190a597e5bca9fd4f4890/hub/2024/09/05/8ab7b863-afe1-4daf-97a1-5754bbff1c2c/sony-playstation-5-pro-console-2609.jpg?auto=webp&amp;fit=crop&amp;height=675&amp;width=1200" alt="Sony PlayStation 5 Pro gaming console"> <img src="https://www.cnet.com/a/img/resize/0815cdc6d7458c79553190a597e5bca9fd4f4890/hub/2024/09/05/8ab7b863-afe1-4daf-97a1-5754bbff1c2c/sony-playstation-5-pro-console-2609.jpg?auto=webp&amp;fit=crop&amp;height=675&amp;width=1200" alt="Sony PlayStation 5 Pro gaming console" height="675" width="1200"> <!----></picture></div> <!----> <!----></div> <figcaption><span class="c-shortcodeImage_caption g-inner-spacing-right-small g-text-xxsmall"><p>Surprise: The PS5 Pro isn't actually that big, but it does have a big GPU upgrade.</p></span> <span class="c-shortcodeImage_credit g-inner-spacing-right-small g-outer-spacing-top-xsmall g-color-text-meta g-text-xxxsmall">James Martin/CNET</span></figcaption></figure></div></div> <!----></div>
                <h1>Similar in size with turbo-style vents</h1>
                <p>
                    I was shocked that the PS5 Pro wasn't a hulking beast.
                    The console's contours are nearly the same as the original PS5, and it's actually smaller.
                    Meanwhile, the "Slim" PS5, released last year,
                    is definitely smaller than the Pro but the difference in size isn't massive.
                </p>
                <hr>
                <p>
                    The biggest external differences, teased in Sony's 30th-anniversary logo, are the diagonal black ribbed vents across the center. (These mean the Pro is incompatible with existing PS5 console covers.) The front and rear ports on the Pro shipping in November are the same as the current PS5, but the prerelease hardware I saw on display during my demo had an extra USB-C port in the back instead of USB-A. The final hardware will have USB-C ports on the front and USB-A ports in the back. The PS5 Pro should slot into similar shelving to your older PS5, unlike the chunkier PS4 Pro released in 2016, and you can mount the Pro vertically on the optional $30 stand if you prefer.

                    The Pro comes with the same DualSense controller as the PS5 -- no upgrades there. (A step-up DualSense Edge controller already exists.) The Pro doesn't have an optical disc drive. Instead, there's a larger 2TB solid-state drive, plus the same support for expanded M2 SSDs. You can attach an optical drive separately, the same ones that work on the new PS5 models. You could detach one of those or buy a new one. Not having an included optical drive standard feels like a statement that downloadable games are now the standard, and the Pro's bumped-up Wi-Fi 7 support should make for faster downloads if your router supports it.
                </p>
            </div>
        </div>
</article>

<hr>
<!-- jQuery -->
<script src="~/js/jquery.min blog.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/vendorblog/bootstrap.min.js"></script>



<!-- Theme JavaScript -->
<script src="~/vendorblog/clean-blog.min.js"></script>