@model CategoryProductDataModel
@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("Slider")
    <!-- three_box -->
      <div class="three_box">
         <h1 style="font-weight: bolder;" class="container">Categories</h1>
    <div class="container">
       
        <div class="row">
            @foreach (var item in Model.categories)
            {
                <div class="col-md-4">
                    <div class="box_text">
                        <a asp-action="Computer" asp-controller="Home" asp-route-id="@item.CategoryId">
                            <i><img src="@item.CategoryImg" alt="@item.CategoryName" width="100" height="100"  /></i>
                            <h3>@item.CategoryName</h3>
                            <p> </p>
                        </a>

                    </div>
                </div>
            
           
            }
        </div>
         </div>
      </div>
    <!-- three_box -->

<br>
<!-- end products -->
@await Component.InvokeAsync("advertisement")
@await Component.InvokeAsync("Feedback")
 @await Component.InvokeAsync("Contact") 

