@model WTechStore.Models.Slider

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Slider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="SliderId" />
            <div class="form-group">
                <label asp-for="SliderTitle" class="control-label"></label>
                <input asp-for="SliderTitle" class="form-control" />
                <span asp-validation-for="SliderTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SliderDesc" class="control-label"></label>
                <input asp-for="SliderDesc" class="form-control" />
                <span asp-validation-for="SliderDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="font-weight-bold text-primary"></label>
                <input asp-for="ImageFile" class="form-control form-control-lg" type="file" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="btnTxt" class="control-label"></label>
                <input asp-for="btnTxt" class="form-control" />
                <span asp-validation-for="btnTxt" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

